<% if @volunteer %>
  <h2>Volunteer Name: <%= @volunteer.name%></h2>

  <p>To change a volunteers name, type the updated name in the form below and click the 'Update Volunteer' button.</p>
  <p>To delete a volunteer from the system, click the 'Delete Volunteer' button below.</p>

  <form action="/projects/<%= @volunteer.project_id %>/volunteers/<%= @volunteer.id %>" method="post">
    <div class="form-group">
      <input name="_method" type="hidden" value="patch">
      <label for="name">Update Volunteer Name</label>
      <input id="name" name="name" type="text" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-info">Update Volunteer</button>
  </form>

  <form action="/projects/<%= @volunteer.project_id %>/volunteers/<%= @volunteer.id %>" method="post">
    <input name="_method" type="hidden" value="delete">

    <button type="submit" class="btn btn-info">Delete Volunteer</button>
  </form>

<% else %>
  <h3>You are trying to view the details page of a volunteer that is not in our system.</h3>
  <p>To go back to the projects page click <a href="/projects">here</a>.
<% end %>